#body {
  background-color: #F2F2F2; }

header {
  width: 100%;
  position: fixed;
  z-index: 1; }

button {
  outline: none !important; }

.add {
    /*padding: 0 !important;*/
    /*padding-left: 4% !important;*/
    position: absolute;
    right: 15%;
}
.Menu-Onclick {
    margin: 0 auto;
}
/* line 19, Style .scss */

.add a:hover {
    text-decoration: none;
}


/* line 23, Style .scss */

.navbar {
    padding: 0 15%;
    padding-bottom: 7px;
    padding-top: 6px;
}


/* line 29, Style .scss */

.float-right button {
  color: #BE2031;
  outline: none;
  border: none; }

.Icon_search {
  position: absolute;
  top: 15%;
  right: 0; }
  .Icon_search i {
    display: inline-block;
    color: #BE2031;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%; }

.dropdown-menu {
  width: 200px; }
  .dropdown-menu a:active {
    outline: none !important; }
  .dropdown-menu .dropdown-item-1 {
    color: #6C6C6C; }
    .dropdown-menu .dropdown-item-1 i {
      font-size: 0.8rem; }

.nav-item {
    padding-left: 0 !important;
    border-bottom: 0.1px solid #F2F2F2;
}
#hambubger-menu {
    position: absolute;
    right: 0;
    top: 5%;
}

/* line 64, Style .scss */

#dropdownMenuLink-1 {
  outline: none;
  border: none; }

.navbar-brand {
  margin-right: 0 !important; }

ul li i {
  font-size: 0.7rem; }
ul li a {
  margin-right: 20px; }

.input-group {
  border-bottom: 1px solid #BE2031; }
  .input-group input {
    outline: none;
    border: none;
    padding: 0; }

.button-add button {
  background: transparent;
  outline: none;
  font-size: 0.75rem;
  border: 0.5px solid #BE2031;
  color: #BE2031; }
.button-add a:hover {
  text-decoration: none; }

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .flex-container div {
    background-color: white;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-radius: 18px; }

#flex-container {
    padding-top: 150px;
    padding-bottom: 80px;
}

/* line 113, Style .scss */

.hidden {
  width: 100%;
  height: 150px;
  background-color: transparent; }

.main-page {
    width: 100%;
    background-color: white;
    overflow: hidden;
}


/* line 122, Style .scss */

.into-main-page {
    height: 100%;
    background-color: white;
    padding: 0 !important;
}


/* line 126, Style .scss */

.into-main-page span {
    font-size: 3rem;
    margin: 0 auto; }
  .into-main-page p {
    font-size: 1.6rem;
    margin: 0 auto; }

.section {
    background-color: white;
    height: 600px;
}


/* line 138, Style .scss */

.section .text {
    text-align: center;
}


/* line 141, Style .scss */

.section img {
    width: 100%;
}


/* line 144, Style .scss */

.section span {
    padding: 0 !important;
}


/* line 147, Style .scss */

.section p {
    color: #707070;
    padding: 0px;
    margin-bottom: 3px;
    font-weight: 500; }
  .section .line {
    width: 30%;
    height: 1px;
    background-color: #909090; }
  .section ul {
    list-style: none;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-bottom: 5%; }
    .section ul li a {
      margin-right: 0 !important; }
    .section ul li span {
      padding: 0.5rem 0.75rem !important; }

a:not([href]):not([tabindex]) {
  display: inherit;
  margin-right: 0; }

.page-item.active .page-link {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important; }

@media screen and (max-width: 570px) {
  .section ul li {
    height: 0 !important; } }
footer {
    background-color: #BE2031;
}

#btn-back-to-top {
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    bottom: 50px;
    position: fixed;
    right: 50px;
}
#btn-back-to-top.show {
    opacity: 1;
    visibility: visible;
}

#max-width-mobile {
    margin-top:15px;
}

/* line 174, Style .scss */

footer .icon {
    padding: 0;
}


/* line 176, Style .scss */

footer .icon a {
    color: white;
    margin-right: 10px;
}


/* line 181, Style .scss */

footer .info>p {
    color: white;
}

@media only screen and (max-width: 575px) {
  .flex-container div {
    width: 60%;
    height: 300px; }
    .flex-container div p {
        font-size: 1.4rem;
    }
    /* line 193, Style .scss */
    .hidden {
        height: 100px;
    }
    /* line 196, Style .scss */
    .main-page {
        height: 450px;
    }
    .banner-layout-text {
        display: inline-block;
        padding-top: 10px;
        padding-left: 30px;
    }
    .navbar {
        padding: 10px 5%;
    }

    #form-mobile {
        position: absolute;
        top: 10px;
        right: 15%;
        width: 50%;
    }

    /* line 198, Style .scss */
    .main-page .into-main-page {
      margin-top: 50px;
      height: 300px; }
      .main-page .into-main-page span {
        font-size: 1.8rem; }
      .main-page .into-main-page p {
        font-size: 0.8rem; }

  .section {
    height: 470px; }
    .section .line {
      width: 70%; }
    .section ul li {
      height: 300px; }

  footer {
    height: 300px; }
    footer .logo {
      padding: 0;
      text-align: center; }
      footer .logo img {
        width: 30%;
        height: auto; }
    footer .info {
      text-align: center;
      font-size: 0.7rem; }
    footer .icon {
        text-align: center;
    }
}
@media only screen and (min-width: 576px)  and (max-width: 991px){
    #form-mobile {
    position: absolute;
    top: 10px;
    right: 15%;
    width: 50%;
}
}
@media only screen and (min-width: 576px) {
  .flex-container div {
    margin-bottom: 70px;
    width: 28%;
    height: 280px; }
    .flex-container div p {
        font-size: 1.5rem;
    }
    /* line 244, Style .scss */
    .main-page {
        height: 550px;
    }
    .banner-layout-text {
        display: inline-block;
        padding-top: 20px;
        padding-left: 50px;
    }
    .navbar {
        padding: 10px 5%;
    }



    /* line 247, Style .scss */
    .main-page .into-main-page p {
      font-size: 1rem; }
    .main-page .into-main-page span {
      font-size: 2.3rem; }

  .section .text p {
    font-size: 1.5rem; }
  .section .line {
    width: 70%; }

  footer {
    height: 150px; }
    footer .logo img {
      width: 22%; }
    footer .info {
      text-align: center; }
      footer .info p {
        font-size: 0.7rem; }
    footer .icon {
      text-align: center;
      padding: 0; } }
@media only screen and (min-width: 768px) {
  .flex-container div {
    width: 25%;
    height: 300px; }
    .flex-container div p {
        font-size: 1.5rem;
    }
    .main-page {
         height: 550px;
     }

    .banner-layout-text {
        display: inline-block;
        padding-top: 20px;
        padding-left: 50px;
    }

    .navbar {
        padding: 10px 5%;
    }
    /* line 281, Style .scss */

    /* line 284, Style .scss */
    .into-main-page span {
      font-size: 2.8rem; }
    .into-main-page p {
      font-size: 1.2rem; }
    .into-main-page img {
      width: 100%; }

  .section {
    height: 550px; }
    .section .line {
        width: 70%;
    }
    /* line 298, Style .scss */
    .section p {
      font-size: 1.5rem; }

  footer {
    height: 150px; }
    footer .logo img {
      width: 18%;
      height: auto; }
    footer .icon {
      padding: 0; }
      footer .icon a {
        color: white; } }
@media only screen and (min-width: 992px) {
  .flex-container div {
    width: 18%;
    height: 330px; }
    .flex-container div p {
        font-size: 1.6rem;
    }
    /* line 324, Style .scss */
    .main-page {
        margin-top: 100px;
        height: 250px;
    }
    .banner-layout-text {
        position: absolute;
        top: calc(50% - 56px);
        padding-left:0;
        padding-top:0;
    }
    /* line 327, Style .scss */
    .main-page .into-main-page {
        /*height: 400px !important;*/
        max-width: 60.666667%;
        /*margin-top: 100px;*/
    }
    /* line 330, Style .scss */
    .main-page img {
        width: 100%;
        height: auto;
    }

    /* line 334, Style .scss */
    .main-page span {
      font-size: 2.3rem; }
    .main-page p {
      font-size: 1rem; }

  #navbar-search {
    display: block !important; }

  .section {
    height: 580px; }
    .section .text p {
      font-size: 2rem; }

  footer {
    height: 150px; }
    footer .logo img {
      width: 17%; }
    footer .info p {
      font-size: 0.7rem; }

  .nav-item {
    border: none; } }
@media only screen and (min-width: 1200px) {
    /* line 361, Style .scss */
    .flex-container>div {
        width: 15%;
        height: 330px;
    }
    .main-page {
        /*padding-top: 30px;*/
        height: 450px;
    }
    .add {
        right: 15%;
    }
    .navbar {
        padding: 0 15%;
    }
    /* line 365, Style .scss */
    footer {
        height: 170px;
    }
    /* line 368, Style .scss */
    .nav-item {
        border: none;

  footer {
    height: 170px; }

  .nav-item {
    border: none; } }
@media only screen and (min-width: 1920px) {
    .banner-layout-text {
        position: absolute;
        top: calc(50% - 56px);
    }
    /* line 372, Style .scss */
    .flex-container>div {
        width: 15%;
        height: 400px;
        margin-right: 50px;
    }
    /* line 377, Style .scss */
    .main-page {
        /*padding-top: 30px;*/
        height: 450px;
    }
    #max-width {
        max-width: 100% !important;
    }
    /* line 380, Style .scss */
    .main-page .into-main-page {
        /*height: 300px;*/
        /*padding-top: 70px;*/
        padding: 0;
        overflow: hidden;
    }
    /* line 383, Style .scss */
    .main-page .into-main-page img {
        width: 100%;
        height: auto;
    }
    /* line 386, Style .scss */
    .main-page .into-main-page span {
        font-size: 4rem;
    }
    /* line 389, Style .scss */
    .main-page .into-main-page p {
        font-size: 1.5rem;
    }
    .layout-main {
        max-width: 60.666667%;
        margin: 0 auto;
    }
    .add {
        right: 20%;
    }
    .navbar {
        padding: 0 20%;
    }
    /* line 392, Style .scss */
    .section {
        height: 750px;
    }
    /* line 393, Style .scss */
    .section .text p {
      font-size: 2.2rem; }
    .section ul li {
      height: 500px;
      width: 20%; }

  footer {
    height: 180px; }
    footer .logo img {
      width: 10%;
      height: auto; }
    footer .icon {
      padding: 0; }
      footer .icon a {
        color: white;
        margin-right: 15px; }
    footer .info p {
      font-size: 1rem; } }
@media only screen and (min-width: 2560px) {
  .flex-container div {
    width: 10%;
    height: 400px;
    margin-right: 50px; }
    .flex-container div p {
        font-size: 1.8rem;
    }
    /* line 428, Style .scss */
    .main-page {
        padding-left: 100px;
        padding-right: 100px;
        height: 550px;
    }
    .banner-layout-text {
        position: absolute;
        top: calc(50% - 56px);
    }
    /* line 429, Style .scss */
    .main-page span {
        font-size: 5rem;
    }
    #max-width {
        max-width: 100% !important;
    }
    /* line 434, Style .scss */
    .section {
        height: 850px;
    }
    /* line 436, Style .scss */
    .section .text p {
        font-size: 3rem;
    }
}
