/* line 3, Style .scss */

#body {
    background-color: #F2F2F2;
}


/* line 7, Style .scss */

header {
    width: 100%;
    position: fixed;
    z-index: 1;
}


/* line 13, Style .scss */

button {
    outline: none !important;
}


/* line 16, Style .scss */

.add {
    /*padding: 0 !important;*/
    /*padding-left: 4% !important;*/
    position: absolute;
    right: 15%;
}
.Menu-Onclick {
    width: 100%;
    padding: 10px 5%;
}
/* line 19, Style .scss */

.add a:hover {
    text-decoration: none;
}


/* line 23, Style .scss */

.navbar {
    padding: 0 15%;
    padding-bottom: 7px;
    padding-top: 6px;
}


/* line 29, Style .scss */

.float-right button {
    color: #BE2031;
    outline: none;
    border: none;
}


/* line 35, Style .scss */

.Icon_search {
    position: absolute;
    top: 15%;
    right: 0;
}


/* line 39, Style .scss */

.Icon_search i {
    display: inline-block;
    color: #BE2031;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}


/* line 50, Style .scss */

.dropdown-menu {
    width: 200px;
}


/* line 51, Style .scss */

.dropdown-menu a:active {
    outline: none !important;
}


/* line 53, Style .scss */

.dropdown-menu .dropdown-item-1 {
    color: #6C6C6C;
}


/* line 55, Style .scss */

.dropdown-menu .dropdown-item-1 i {
    font-size: 0.8rem;
}


/* line 60, Style .scss */

.nav-item {
    padding-left: 0 !important;
    border-bottom: 0.1px solid #F2F2F2;
}
#hambubger-menu {
    position: absolute;
    right: 0;
    top: 5%;
}

/* line 64, Style .scss */

#dropdownMenuLink-1 {
    outline: none;
    border: none;
}


/* line 68, Style .scss */

.navbar-brand {
    margin-right: 0 !important;
}


/* line 72, Style .scss */

ul li i {
    font-size: 0.7rem;
}


/* line 74, Style .scss */

ul li a {
    margin-right: 20px;
}


/* line 77, Style .scss */

.input-group {
    border-bottom: 1px solid #BE2031;
}


/* line 79, Style .scss */

.input-group input {
    outline: none;
    border: none;
    padding: 0;
}


/* line 86, Style .scss */

.button-add button {
    background: transparent;
    outline: none;
    font-size: 0.75rem;
    border: 0.5px solid #BE2031;
    color: #BE2031;
}


/* line 92, Style .scss */

.button-add a:hover {
    text-decoration: none;
}


/* line 96, Style .scss */

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* line 97, Style .scss */

.flex-container div {
    background-color: white;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-radius: 18px;
}


/* line 109, Style .scss */

#flex-container {
    padding-top: 150px;
    padding-bottom: 80px;
}

/* line 113, Style .scss */

.hidden {
    width: 100%;
    height: 150px;
    background-color: transparent;
}

.hidden2 {
    width: 100%;
    height: 70px;
    background-color: transparent;
}


/* line 118, Style .scss */

.main-page {
    width: 100%;
    background-color: white;
    overflow: hidden;
}


/* line 122, Style .scss */

.into-main-page {
    height: 100%;
    background-color: white;
    padding: 0 !important;
}


/* line 126, Style .scss */

.into-main-page span {
    font-size: 3rem;
    margin: 0 auto;
}


/* line 130, Style .scss */

.into-main-page p {
    font-size: 1.6rem;
    margin: 0 auto;
}


/* line 135, Style .scss */

.section {
    background-color: white;
    height: 600px;
}


/* line 138, Style .scss */

.section .text {
    text-align: center;
}


/* line 141, Style .scss */

.section img {
    width: 100%;
}


/* line 144, Style .scss */

.section span {
    padding: 0 !important;
}


/* line 147, Style .scss */

.section p {
    color: #707070;
    padding: 0px;
    margin-bottom: 3px;
    font-weight: 500;
}


/* line 153, Style .scss */

.section .line {
    width: 30%;
    height: 1px;
    background-color: #909090;
}


/* line 158, Style .scss */

.section ul {
    list-style: none;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-bottom: 5%;
}
.section ul li a {
    margin-right: 0 !important;
}
.section ul li span {
    padding: 0.5rem 0.75rem !important;
}

a:not([href]):not([tabindex]) {
    display: inherit;
    margin-right: 0;
}
.page-item.active .page-link {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
@media screen and (max-width: 767px) {
    .page-link{
        font-size: 2.1vw;
        padding: 0.4rem 0.65rem !important;
    }
    .section ul li span{
        padding: 0.4rem 0.65rem !important;
    }
}
@media screen and (max-width:640px) {
    .page-link{
        padding: 0.3rem 0.5rem !important;
    }
    .section ul li span{
        padding: 0.3rem 0.5rem !important;
    }
}
@media screen and (max-width:460px) {
    .page-link{
        padding: 0.2rem 0.4rem !important;
    }
    .section ul li span{
        padding: 0.2rem 0.4rem !important;
    }
}
@media screen and (max-width:400px) {
    .page-link{
        padding: 0.1rem 0.35rem !important;
    }
    .section ul li span{
        padding: 0.1rem 0.35rem !important;
    }
}
@media screen and (max-width:360px) {
    .page-link{
        padding: 0.1rem 0.3rem !important;
    }
    .section ul li span{
        padding: 0.1rem 0.3rem !important;
    }
}


/* line 172, Style .scss */

footer {
    background-color: #BE2031;
}

#btn-back-to-top {
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    bottom: 50px;
    position: fixed;
    right: 50px;
}
#btn-back-to-top.show {
    opacity: 1;
    visibility: visible;
}

#max-width-mobile {
    margin-top:15px;
}

/* line 174, Style .scss */

footer .icon {
    padding: 0;
}


/* line 176, Style .scss */

footer .icon a {
    color: white;
    margin-right: 10px;
}


/* line 181, Style .scss */

footer .info>p {
    color: white;
}

@media only screen and (max-width: 575px) {
    /* line 187, Style .scss */
    .flex-container div {
        width: 60%;
        height: 300px;
    }
    /* line 188, Style .scss */
    .flex-container div p {
        font-size: 1.4rem;
    }
    /* line 193, Style .scss */
    .hidden {
        height: 100px;
    }
    /* line 196, Style .scss */
    .main-page {
        height: 450px;
    }
    .banner-layout-text {
        display: inline-block;
        padding-top: 10px;
        padding-left: 30px;
    }
    .navbar {
        padding: 10px 5%;
    }

    #form-mobile {
        position: absolute;
        top: 10px;
        right: 15%;
        width: 50%;
    }

    /* line 198, Style .scss */
    .main-page .into-main-page {
        margin-top: 50px;
        height: 300px;
    }
    /* line 201, Style .scss */
    .main-page .into-main-page span {
        font-size: 1.8rem;
    }
    /* line 204, Style .scss */
    .main-page .into-main-page p {
        font-size: 0.8rem;
    }
    /* line 208, Style .scss */
    .section {
        height: 470px;
    }
    /* line 210, Style .scss */
    .section .line {
        width: 70%;
    }
    /* line 216, Style .scss */
    footer {
        height: 300px;
    }
    /* line 218, Style .scss */
    footer .logo {
        padding: 0;
        text-align: center;
    }
    /* line 221, Style .scss */
    footer .logo img {
        width: 30%;
        height: auto;
    }
    /* line 226, Style .scss */
    footer .info {
        text-align: center;
        font-size: 0.7rem;
    }
    /* line 230, Style .scss */
    footer .icon {
        text-align: center;
    }
}
@media only screen and (min-width: 576px)  and (max-width: 991px){
    #form-mobile {
    position: absolute;
    top: 10px;
    right: 15%;
    width: 50%;
}
}
@media only screen and (min-width: 576px) {
    /* line 238, Style .scss */
    .flex-container div {
        margin-bottom: 70px;
        width: 28%;
        height: 280px;
    }
    /* line 239, Style .scss */
    .flex-container div p {
        font-size: 1.5rem;
    }
    /* line 244, Style .scss */
    .main-page {
        height: 550px;
    }
    .banner-layout-text {
        display: inline-block;
        padding-top: 20px;
        padding-left: 50px;
    }
    .navbar {
        padding: 10px 5%;
    }



    /* line 247, Style .scss */
    .main-page .into-main-page p {
        font-size: 1rem;
    }
    /* line 248, Style .scss */
    .main-page .into-main-page span {
        font-size: 2.3rem;
    }
    /* line 252, Style .scss */
    .section .text p {
        font-size: 1.5rem;
    }
    /* line 253, Style .scss */
    .section .line {
        width: 70%;
    }
    /* line 255, Style .scss */
    footer {
        height: 150px;
    }
    /* line 258, Style .scss */
    footer .logo img {
        width: 22%;
    }
    /* line 261, Style .scss */
    footer .info {
        text-align: center;
    }
    /* line 263, Style .scss */
    footer .info p {
        font-size: 0.7rem;
    }
    /* line 266, Style .scss */
    footer .icon {
        text-align: center;
        padding: 0;
    }
}

@media only screen and (min-width: 768px) {
    /* line 275, Style .scss */
    .flex-container div {
        width: 25%;
        height: 300px;
    }
    /* line 276, Style .scss */
    .flex-container div p {
        font-size: 1.5rem;
    }
    .main-page {
         height: 550px;
     }

    .banner-layout-text {
        display: inline-block;
        padding-top: 20px;
        padding-left: 50px;
    }

    .navbar {
        padding: 10px 5%;
    }
    /* line 281, Style .scss */

    /* line 284, Style .scss */
    .into-main-page span {
        font-size: 2.8rem;
    }
    /* line 287, Style .scss */
    .into-main-page p {
        font-size: 1.2rem;
    }
    /* line 290, Style .scss */
    .into-main-page img {
        width: 100%;
    }
    /* line 294, Style .scss */
    .section {
        height: 550px;
    }
    /* line 296, Style .scss */
    .section .line {
        width: 70%;
    }
    /* line 298, Style .scss */
    .section p {
        font-size: 1.5rem;
    }
    /* line 302, Style .scss */
    footer {
        height: 150px;
    }
    /* line 305, Style .scss */
    footer .logo img {
        width: 18%;
        height: auto;
    }
    /* line 309, Style .scss */
    footer .icon {
        padding: 0;
    }
    /* line 311, Style .scss */
    footer .icon a {
        color: white;
    }
}

@media only screen and (min-width: 992px) {
    /* line 318, Style .scss */
    .flex-container div {
        width: 18%;
        height: 330px;
    }
    /* line 319, Style .scss */
    .flex-container div p {
        font-size: 1.6rem;
    }
    /* line 324, Style .scss */
    .main-page {
        margin-top: 100px;
        height: 250px;
    }
    .banner-layout-text {
        position: absolute;
        top: calc(50% - 56px);
        padding-left:0;
        padding-top:0;
    }
    /* line 327, Style .scss */
    .main-page .into-main-page {
        /*height: 400px !important;*/
        max-width: 60.666667%;
        /*margin-top: 100px;*/
    }
    /* line 330, Style .scss */
    .main-page img {
        width: 100%;
        height: auto;
    }

    /* line 334, Style .scss */
    .main-page span {
        font-size: 2.3rem;
    }
    /* line 336, Style .scss */
    .main-page p {
        font-size: 1rem;
    }
    /* line 339, Style .scss */
    #navbar-search {
        display: block !important;
    }
    /* line 342, Style .scss */
    .section {
        height: 580px;
    }
    /* line 344, Style .scss */
    .section .text p {
        font-size: 2rem;
    }
    /* line 348, Style .scss */
    footer {
        height: 150px;
    }
    /* line 350, Style .scss */
    footer .logo img {
        width: 17%;
    }
    /* line 353, Style .scss */
    footer .info p {
        font-size: 0.7rem;
    }
    /* line 357, Style .scss */
    .nav-item {
        border: none;
    }
}

@media only screen and (min-width: 1200px) {
    /* line 361, Style .scss */
    .flex-container>div {
        width: 15%;
        height: 330px;
    }
    .main-page {
        /*padding-top: 30px;*/
        height: 450px;
    }
    .add {
        right: 15%;
    }
    .navbar {
        padding: 0 15%;
    }
    /* line 365, Style .scss */
    footer {
        height: 170px;
    }
    /* line 368, Style .scss */
    .nav-item {
        border: none;
    }
    .nav-link {
        padding: .4rem 1rem;
    }
}

@media only screen and (min-width: 1920px) {
    .banner-layout-text {
        position: absolute;
        top: calc(50% - 56px);
    }
    /* line 372, Style .scss */
    .flex-container>div {
        width: 15%;
        height: 400px;
        margin-right: 50px;
    }
    /* line 377, Style .scss */
    .main-page {
        /*padding-top: 30px;*/
        height: 450px;
    }
    #max-width {
        max-width: 100% !important;
    }
    /* line 380, Style .scss */
    .main-page .into-main-page {
        /*height: 300px;*/
        /*padding-top: 70px;*/
        padding: 0;
        overflow: hidden;
    }
    /* line 383, Style .scss */
    .main-page .into-main-page img {
        width: 100%;
        height: auto;
    }
    /* line 386, Style .scss */
    .main-page .into-main-page span {
        font-size: 4rem;
    }
    /* line 389, Style .scss */
    .main-page .into-main-page p {
        font-size: 1.5rem;
    }
    .layout-main {
        max-width: 60.666667%;
        margin: 0 auto;
    }
    .add {
        right: 20%;
    }
    .navbar {
        padding: 0 20%;
    }
    /* line 392, Style .scss */
    .section {
        height: 750px;
    }
    /* line 393, Style .scss */
    .section .text p {
        font-size: 2.2rem;
    }
    /* line 395, Style .scss */
    .section ul li {
        height: 500px;
        width: 20%;
    }
    /* line 400, Style .scss */
    footer {
        height: 180px;
    }
    /* line 403, Style .scss */
    footer .logo img {
        width: 10%;
        height: auto;
    }
    /* line 407, Style .scss */
    footer .icon {
        padding: 0;
    }
    /* line 409, Style .scss */
    footer .icon a {
        color: white;
        margin-right: 15px;
    }
    /* line 415, Style .scss */
    footer .info p {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 2560px) {
    /* line 421, Style .scss */
    .flex-container div {
        width: 10%;
        height: 400px;
        margin-right: 50px;
    }
    /* line 422, Style .scss */
    .flex-container div p {
        font-size: 1.8rem;
    }
    /* line 428, Style .scss */
    .main-page {
        padding-left: 100px;
        padding-right: 100px;
        height: 550px;
    }
    .banner-layout-text {
        position: absolute;
        top: calc(50% - 56px);
    }
    /* line 429, Style .scss */
    .main-page span {
        font-size: 5rem;
    }
    #max-width {
        max-width: 100% !important;
    }
    /* line 434, Style .scss */
    .section {
        height: 850px;
    }
    /* line 436, Style .scss */
    .section .text p {
        font-size: 3rem;
    }
}
