$mau-do: #BE2031;

#body {
  background-color: #F2F2F2;

}

header {
  width: 100%;
  position: fixed;
  z-index: 1;
}

button {
  outline: none !important;
}

.add {
  padding: 0 !important;
  padding-left: 4% !important;

  a:hover {
    text-decoration: none;
  }
}

.navbar {
  padding: 0;
  padding-bottom: 7px;
  padding-top: 6px;
}

.float-right {
  button {
    color: $mau-do;
    outline: none;
    border: none
  }
}

.Icon_search {
  position: absolute;
  top: 15%;
  right: 0;

  i {
    display: inline-block;
    color: $mau-do;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
  }
}

.dropdown-menu {
  a:active {
    outline: none !important;
  }

  width: 200px;

  .dropdown-item-1 {
    color: #6C6C6C;

    i {
      font-size: 0.8rem;
    }
  }
}

.nav-item {
  padding-left: 0 !important;
  border-bottom: 0.1px solid #F2F2F2;
}

#dropdownMenuLink-1 {
  outline: none;
  border: none;
}

.navbar-brand {
  margin-right: 0 !important;
}

ul li {
  i {
    font-size: 0.7rem;
  }

  a {
    margin-right: 20px;
  }
}

.input-group {
  border-bottom: 1px solid $mau-do;

  input {
    outline: none;
    border: none;
    padding: 0;
  }
}

.button-add {
  button {
    background: transparent;
    outline: none;
    font-size: 0.75rem;
    border: 0.5px solid $mau-do;
    color: $mau-do;
  }

  a:hover {
    text-decoration: none;
  }
}

.flex-container {
  div {
    background-color: white;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-radius: 18px;
  }

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#flex-container {
  padding-top: 150px;
  padding-bottom: 80px;
}

.hidden {
  width: 100%;
  height: 150px;
  background-color: transparent;
}

.main-page {
  width: 100%;
  background-color: white;
}

.into-main-page {
  height: 600px;
  background-color: white;
  padding: 0 !important;

  span {
    font-size: 3rem;
    margin: 0 auto;
  }

  p {
    font-size: 1.6rem;
    margin: 0 auto;
  }
}

.section {
  background-color: #F2F2F2;
  height: 600px;

  .text {
    text-align: center;
  }

  img {
    width: 100%;
  }

  span {
    padding: 0 !important;
  }

  p {
    color: #707070;
    padding: 0px;
    margin-bottom: 3px;
    font-weight: 500;
  }

  .line {
    width: 30%;
    height: 1px;
    background-color: #909090;
  }

    ul {
        list-style: none;
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
        padding: 0;
        padding-bottom: 5%;
        li{
            a{
                margin-right: 0 !important;
            }
            span{
                padding: 0.5rem 0.75rem !important;
            }
        }
    }
}
a:not([href]):not([tabindex]){
    display: inherit;
    margin-right: 0;
}
.page-item.active .page-link{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
@media screen and (max-width: 570px) {
    .section{
        ul{
            li{
                height: 0 !important;
            }
        }
    }
}
footer {
  background-color: $mau-do;

  .icon {
    padding: 0;

    a {
      color: white;
      margin-right: 10px;
    }
  }

  .info > p {
    color: white;
  }
}

@media only screen and (max-width: 575px) {
  .flex-container {
    div {
      p {
        font-size: 1.4rem;
      }

      width: 60%;
      height: 300px;
    }
  }
  .hidden {
    height: 100px;
  }
  .main-page {
    height: 370px;

    .into-main-page {
      margin-top: 50px;
      height: 300px;

      span {
        font-size: 1.8rem;
      }

      p {
        font-size: 0.8rem;
      }
    }
  }
  .section {
    height: 470px;

    .line {
      width: 70%;
    }

    ul li {
      height: 300px;
    }
  }
  footer {
    height: 300px;

    .logo {
      padding: 0;
      text-align: center;

      img {
        width: 30%;
        height: auto;
      }
    }

    .info {
      text-align: center;
      font-size: 0.7rem;
    }

    .icon {
      text-align: center;
    }
  }
}

@media only screen and (min-width: 576px) {
  .flex-container {
    div {
      p {
        font-size: 1.5rem;
      }

      margin-bottom: 70px;
      width: 28%;
      height: 280px;
    }
  }
  .main-page {
    height: 650px;

    .into-main-page {
      p {
        font-size: 1rem;
      }

      span {
        font-size: 2.3rem
      }
    }
  }
  .section {
    .text p {
      font-size: 1.5rem;
    }

    .line {
      width: 70%;
    }
  }
  footer {
    height: 150px;

    .logo {
      img {
        width: 22%;
      }
    }

    .info {
      text-align: center;

      p {
        font-size: 0.7rem;
      }
    }

    .icon {
      text-align: center;
      padding: 0;
    }
  }
}

@media only screen and (min-width: 768px) {
  .flex-container {
    div {
      p {
        font-size: 1.5rem;
      }

      width: 25%;
      height: 300px;
    }
  }
  .into-main-page {
    margin-top: 100px;
    height: 600px;

    span {
      font-size: 2.8rem;
    }

    p {
      font-size: 1.2rem;
    }

    img {
      width: 100%;
    }
  }
  .section {
    height: 550px;

    .line {
      width: 75%;
    }

    p {
      font-size: 1.5rem;
    }
  }
  footer {
    height: 150px;

    .logo {
      img {
        width: 18%;
        height: auto;
      }
    }

    .icon {
      padding: 0;

      a {
        color: white;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .flex-container {
    div {
      p {
        font-size: 1.6rem;
      }

      width: 18%;
      height: 330px;
    }
  }
  .main-page {
    margin-top: 100px;
    height: 400px;

    .into-main-page {
      height: 400px !important;
    }

    img {
      width: 100%;
      height: auto;
    }

    span {
      font-size: 2.3rem;
    }

    p {
      font-size: 1rem;
    }
  }
  #navbar-search {
    display: block !important;
  }
  .section {
    height: 580px;

    .text p {
      font-size: 2rem;
    }
  }
  footer {
    height: 150px;

    .logo img {
      width: 17%;
    }

    .info p {
      font-size: 0.7rem;
    }
  }
  .nav-item {
    border: none;
  }
}

@media only screen and (min-width: 1200px) {
  .flex-container > div {
    width: 15%;
    height: 330px;
  }
  footer {
    height: 170px;
  }
  .nav-item {
    border: none;
  }
}

@media only screen and (min-width: 1920px) {
  .flex-container > div {
    width: 15%;
    height: 400px;
    margin-right: 50px;
  }
  .main-page {
    padding-top: 30px;
    height: 750px;

    .into-main-page {
      height: 300px;
      padding-top: 70px;

      img {
        width: 100%;
        height: auto;
      }

      span {
        font-size: 4rem;
      }

      padding: 0;

      p {
        font-size: 1.5rem;
      }
    }
  }
  .section {
    .text p {
      font-size: 2.2rem;
    }

    height: 750px;

    ul li {
      height: 500px;
      width: 20%;
    }
  }
  footer {
    height: 180px;

    .logo {
      img {
        width: 10%;
        height: auto;
      }
    }

    .icon {
      padding: 0;

      a {
        color: white;
        margin-right: 15px;
      }
    }

    .info {
      p {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (min-width: 2560px) {
  .flex-container {
    div {
      p {
        font-size: 1.8rem;
      }

      width: 10%;
      height: 400px;
      margin-right: 50px;
    }
  }
  .main-page {
    span {
      font-size: 5rem;
    }

    padding-left: 100px;
    padding-right: 100px;
    height: 850px;
  }
  .section {
    height: 850px;

    .text p {
      font-size: 3rem;
    }
  }
}
