$mau-do: #BE2031;
i{
	font-size: 0.8rem;
	color: $mau-do;
}
#position-fix{
	position: fixed;
	z-index: 1;
}
header.row{
    height: 50px;
	background-color: white;
    .logo{
        height: 100%;
		display: flex;
		align-items: center;
		img{
			width: 60%;
			height: auto;
		}
    }
    .hambuger-menu{
        display: flex;
        justify-content: flex-end;
		.show-search-bar{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 1%;
			.search-bar-input>.input-group>input{
				background-color: transparent;
				padding-left: 10px;
				width: 90%;
				border: none;
				 
				border-bottom: 1px solid $mau-do;
			}
			.category{
				width: 200%;
			.text{
				margin-top: 10px;
				margin-left: 50px;
				a{
					color: $mau-do;
					margin-left: 7.5%;
					button{
						outline: none;
						
					}
				}
			}
		}
	}
        .menu{
            background-color: slateblue;
            height: 100%;
            width: 30px;
        }
    }
}
/* =========================================================================main-page */
.row{
	.main-page{
		background-color: #F2F2F2;
		height: 2000px;
	}
}
/* ======================================================================================footer */
footer.row{
	background-color: $mau-do;
	height: 300px;
}
@media only screen and (min-width:768px){
	header.row{
		.logo{
			padding: 0;
		img{
		width: 30%;
		}
	}
		.hambuger-menu{
			padding: 0;
			padding-right: 64px;
		}
	}
}
@media only screen and (min-width:992px){
 	header.row .hambuger-menu{
		padding-right: 20%;
        display: block;
        .search-bar{
            width: 100%;
			margin-right: 10%;
        }
    }
	header.row{
		padding-left: 10%;
		height: 85px;
		.logo{
			img{
				width: 35%;}
	}
}
}

